@import "@styles/variables";

.container{
	position: sticky;
	left: 0;
	right: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	max-width: $descktop-container;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 32px;

	.links{
		display: flex;
		align-items: center;
		
		.logo{
			margin-right: 50px;
			cursor: pointer;
			transition: 0.5s;

			&:hover{
				transform: rotate(360deg) scale(1.3);
				transition: 0.5s;
			}
		}

		.linksElement{
			cursor: pointer;
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 29px;
		}
	}

	.btns{
		display: flex;
		gap: 15px;
	}
}